/*  
    Software: Decorator Codable Front End FW 1.0
    Author: Alan Museljic "Uloga"
    Author URI: http://uloga.net
    Twitter: https://twitter.com/_uloga
    Facebook: https://facebook.com/webrebelz
    MIT License: http://opensource.org/licenses/MIT
    Documentation: http://decorator.io 
*/
@media (max-width: 800px){
    
    .fluid{
        width: 100% !important;
    }
    .fluid .padder{
       padding: 0 15px !important; 
    }
    
    /* -- Blocks -- */
    
    .row > [class^="block"],
    [class^="block"]{
        width: 100%;
    }
    
    /* -- Grids -- */
    
    [class^="grid"] > li,
    [class^="grid"] > div{
        width: 32%;
    }
    
    .grid > li,
    .grid > div{
        margin: 0 2% 2% 0 !important;
    }
    
    [class^="grid"] > li:nth-child(3n+0),
    [class^="grid"] > div:nth-child(3n+0){
        margin-right: 0 !important;
    }
    
    .grid > li .meta .inner{
        width: 75%;
    }
    
    /* -- Javascript -- */
    
    /*_tabs_*/
    .tabs{
        width: 100%;
    }
    
    /*_pricing table_*/
    
    .pricing > li,
    .pricing > div{
        width: 100% !important;
        margin-right: 0 !important;
        padding: 0 12px;
    }
    .pricing .zoom{
        top: 0;
        padding: 0;
    }
    
    /*_form elemts_*/
    
    form, form label,
    .horizontal [class^="block"],
    .horizontal [class^="block"] input{
        float: left;
        width: 100% !important;
        text-align: left !important;
    }
    .horizontal [class^="block"],
    .offsetBlockRight, offsetBlockLeft{
        padding: 0 !important;
    }
    .horizontal label{
        padding: 0;
        margin: 6px 0 !important;
    }
    
    /*_navbar_*/
    
    .navbar, .navbar input,
    .navbar ul, .navbar ul li,
    .navbar ul li a{
        float: left;
        width: 100% !important;
    }
    .navbar, .navbar ul{
        height: auto !important;
    }
    .navbar ul .child{
        position: relative !important;
        left: 0 !important;
    }
    .navbar form{
        margin: 0 !important;
        padding: 10px 12px;
    }
    .navbar ul li a{
        padding: 0 15px !important;
    }
    .navbar .icon-right button {
        right: 12px;
    }
    .navbar.light{
        background: #ededed;
    }
}

@media (max-width: 603px){
    
    /* -- Grids -- */
    
    [class^="grid"] > li,
    [class^="grid"] > div{
        width: 49%;
    }
    
    [class^="grid"] > li:nth-child(3n+0),
    [class^="grid"] > div:nth-child(3n+0){
        margin-right: 2% !important;
    }
    
    [class^="grid"] > li:nth-child(2n+0),
    [class^="grid"] > div:nth-child(2n+0){
        margin-right: 0 !important;
    }
    .grid > li .meta .inner,
    .grid > div .meta .inner{
        width: 66%;
    }
    
    /* ul elements */
    
    .filter, .filter li,
    .filter li a,
    ul.inline li,
    ul.inline{
        float: left;
        width: 100%;
    }
    
    /*_media list_*/
    
    .media, .media li,
    .media .image, .media .content{
        float: left;
        width: 100%;
        padding: 0;
        text-align: left;
    }
    .media .row{
        margin-top: 5px;
    }
    .media .body{
        float: left;
        margin-top: 10px;
    }
    .node.right .inline li{
        margin-left: 0;
    }
    .node.right .image{
        margin-top: 10px;
    }
    
    /* -- Javascript -- */
    
    /*_dialog_*/
    
    .dialog{
        width: 100% !important;
    }
    
    /*_comments_*/
    .comment .children{
        margin: 0;
        padding-left: 0 !important;
        background: #f3f3f3;
        padding-top: 10px;
        border-top: 3px solid #bbb;
    }
    .comment .inline li{
        float: left;
        width: auto !important;
    }
    /*_fluid button_*/
    
    .btn.fluid{
        width: 80%;
        float: none !important;
        display: block;
        margin: 0 auto !important;
    }
}

@media (max-width: 414px){
    
    /* -- Grids -- */
    
    [class^="grid"] > li,
    [class^="grid"] > div{
        width: 100%;
    }
    .grid > li, .grid > div{
        margin: 0 0 4% 0 !important;
    }
    
    /* -- Javascript -- */
    
    /*_tabs_*/
    
    .tabs ul,
    .tabs ul li, .tabs ul li a{
        float: left;
        width: 100%;
    }
    .tabs ul, .tabs .action{
        width: 100% !important;
        height: auto !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: none;
    }
    .tabs ul:after{
        content: "";
        float: left;
        width: 100%;
        position: relative;
        z-index: 1;
        top: -3px;
        border-bottom: 3px solid rgba(0,0,0,.06) !important;
    }
    .tabs li a, .tabs .action li a{
        border: none;
        border-bottom: 3px solid transparent;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    .tabs li .active, .tabs .action li .active,
    .tabs li a:hover, .tabs .action li a:hover,
    .tabs li .active:hover, .tabs .action li .active:hover{
        border-bottom-color: #156DB8 !important;
        background-color: transparent;
    }
    .tabs .tab{
        width: 100% !important;
        padding: 0 !important;
        padding-top: 10px !important;
    }
    .tab .thumbnail,
    .tab .thumbnail.left,
    .tab .thumbnail.right{
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
    }
    
}