<!DOCTYPE html>
<html lang="en" ng-app="DcIcons">
<head>
<meta charset="utf-8">
<title>Decorator Social Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<!-- ===== CSS START ==== -->
<link href="css/dct.css" rel="stylesheet">
<link href="css/social-icons.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/theme.css" rel="stylesheet">
<!-- ===== CSS END ==== -->
</head>
<body ng-controller="IconsCtrl">

<!-- Header Start -->
<div class="header fixed">
  
  <!-- Intro Start -->
  
  <div class="width clearfix first center">
    <div class="block6">
      <a href="#" class="brand"><img class="logo" src="media/logo.png">Decorator: Social Icons</a>
    </div>
    <div class="block6">
      <!-- Place this tag where you want the button to render. -->
    </div>
  </div>
  
  <!-- Intro End -->
  
  <!-- Heading Start -->
  <div class="heading">
    
    <div class="width center clearfix">
      <div class="block6">
        <form class="icon-right success">
          <input type="text" placeholder="Search - Filter Icons" ng-model="search">
        </form>
      </div>
      
    </div>
    
  </div>
  <!-- Heading End -->
  
</div>
<!-- Header End -->

<!-- Wrapper start -->
<div class="wrapper width center clearfix fluid">
  
  <ul  class="grid grid3 icon-grid">
    <li ng-repeat="d in icons | filter: search"><span class="dc dc-{{d.name}}"></span>dc-{{d.name}}</li>
  </ul>
  
</div>
<!-- Wrapper end -->


<!-- ANGULAR START -->   
<script src="angular/angular.min.js"></script>
<script src="app/app.js"></script>
<!-- ANGULAR END -->
<!-- Place this tag right after the last button or just before your close body tag. -->

</body>
</html>